html,
body {
  width: 100%;
  height: 100%;
  font-family: "microsoft yahei";
  font-size: 14px;
}
/*mapFoot-*/
.mapFoot .langWater {
  width: 90%;
  margin: 0 auto;
  height: 210px;
}
.mapFoot .langWater tr td.unit {
  margin-left: 5px;
}
.mapFoot .langWater tr .lightBlue {
  color: #84abcc;
}
.mapFoot .langWater tr .org {
  color: #ff9806;
}
.toolLi a {
  color: #0eaff2;
}
