<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--自行车-->
<mapper namespace="com.linkcld.toms.common.dao.FlightMapper">


    <select id="getCountByYear" resultType="java.util.Map" parameterType="java.util.Map">
      select IN_NUM inNum,OUT_NUM outNum,YWBC_IN ywbcIn,YWBC_OUT ywbcOut,
       to_char(EXCHANGE_TIME,'YYYY-MM-DD HH24:MI:SS') exchangeTime
      from T_C_FLIGHT_PASSENGER_YEAR
      WHERE TJSJ_Y=#{dateType}
    </select>
    <select id="getCountByMonth" resultType="java.util.Map" parameterType="java.util.Map">
      select IN_NUM inNum,OUT_NUM outNum,YWBC_IN ywbcIn,YWBC_OUT ywbcOut,
       to_char(EXCHANGE_TIME,'YYYY-MM-DD HH24:MI:SS') exchangeTime
      from T_C_FLIGHT_PASSENGER_MONTH
      WHERE TJSJ_M=#{dateType}
    </select>
    <select id="getCountByDay" resultType="java.util.Map" parameterType="java.util.Map">
     select IN_NUM inNum,OUT_NUM outNum,YWBC_IN ywbcIn,YWBC_OUT ywbcOut,
       to_char(EXCHANGE_TIME,'YYYY-MM-DD HH24:MI:SS') exchangeTime
      from T_C_FLIGHT_PASSENGER_DAY
      WHERE TJSJ_D=#{dateType}
    </select>

</mapper>