<!--途径公交站点-->
<script type="text/template" id="map-routes-way-station">
    <div class="result-items-has" active="0" anddown="{{andDown}}">
        <div class="items-station-title">
            <div class="title-icon"></div>
            <span>途径公交站点</span>
            </div>
        <ul class="result-bus-station-item-site-list">
            {{stationList}}
            </ul>
        </div>
</script>


<script type="text/template" id="map-routes-way-station-li">
    <li class="items-station-list" point="{{point}}" code="{{code}}">{{item}}</li>
</script>










