<script type="text/template" id="vehicle-online-content">
    <div id="prompt-content">
        <div class="bus-col-sub-right">
            <div class="row clearfix">
                <div class="row-title">
                    <span class="row-title-symbol symbol-f"></span>
                    <span>车辆在线情况</span>
                </div>
                <div class="service">
                    <div class="service-sec">
                        <div class="border-RB">
                            <span class="con-total service-total"><span id="zs">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">车辆总数</span>
                        </div>
                    </div>
                    <div class="service-sec">
                        <div class="border-B">
                            <span class="con-total service-total"><span id="zxcl">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">在线车辆数量</span>
                        </div>
                    </div>
                    <div class="service-sec">
                        <div class="border-RB">
                            <span class="con-total service-total"><span id="bczs">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">班车总数</span>
                        </div>
                    </div>
                    <div class="service-sec">
                        <div class="border-B">
                            <span class="con-total service-total"><span id="zxbc">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">在线班车数量</span>
                        </div>
                    </div>

                    <div class="service-sec">
                        <div class="border-RB">
                            <span class="con-total service-total"><span id="bxczs">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">包车总数</span>
                        </div>
                    </div>
                    <div class="service-sec">
                        <div class="border-B">
                            <span class="con-total service-total"><span id="zxbxc">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">在线包车数量</span>
                        </div>
                    </div>

                    <div class="service-sec">
                        <div class="border-R">
                            <span class="con-total service-total"><span id="whzs">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">危货总数</span>
                        </div>
                    </div>
                    <div class="service-sec">
                        <div>
                            <span class="con-total service-total"><span id="zxwh">0</span><span class="con-subtotal">辆</span></span>
                            <span class="con-subtext">在线危货总数</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</script>