html,
body {
  width: 100%;
  height: 100%;
  font-family: "microsoft yahei";
  font-size: 14px;
}
/*map--legend*/
.mapLegend {
  position: absolute;
  right: 20px;
  bottom: 350px;
}
.mapLegend ul li {
  border-radius: 5px;
  width: 55px;
  height: 55px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.mapLegend ul li img {
  margin-top: 6px;
}
.mapLegend ul li div {
  margin-top: -3px;
}
.mapLegend ul li.blue {
  border: 1px solid #2ac3da;
  color: #2ac3da;
}
.mapLegend ul li.org {
  border: 1px solid #cf8015;
  color: #cf8015;
}
.mapLegend ul li.purple {
  border: 1px solid #6f23be;
  color: #6f23be;
}
.mapLegend ul li.lengActive {
  background-color: #2ac3da;
  color: #fff;
}
/*mapFoot-*/
.mapFoot .footDateil .table {
  border-right: 2px solid #0a1c43;
  height: 210px;
}
.mapFoot .footDateil .table table {
  width: 90%;
  margin: 0 auto;
}
.mapFoot .footDateil .table table tr .green {
  color: #0fbbfb;
}
.mapFoot .footDateil .table table tr .blue {
  color: #32c1ce;
  font-size: 18px;
  font-weight: 600;
}
.mapFoot .footDateil .table table tr .org {
  font-size: 18px;
  font-weight: 600;
}
.mapFoot .footDateil .table table tr:first-child td {
  padding-top: 5%;
}
.mapFoot .footDateil .table table tr td:first-child {
  color: #0fbbfb;
  font-size: 16px;
  font-weight: inherit;
}
.mapFoot .footDateil .footRight {
  height: 250px;
}
.mapFoot .footDateil .footRight > div {
  float: left;
  height: 230px;
  border-right: 2px solid #112e6b;
  padding-top: 20px;
}
.mapFoot .footDateil .footRight > div#swiperBox1 {
  width: 49.6%;
}
.mapFoot .footDateil .footRight > div#swiperBox3 {
  width: 50%;
}
.mySwiper.swiper-container-horizontal > .swiper-pagination-bullets {
  top: 0;
}
.mySwiper.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.mySwiper#swiperBox2 .swiper-pagination-bullet,
.mySwiper#swiperBox3 > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 50%;
}
