.midInBlock {
  display: inline-block;
  vertical-align: middle;
}
body {
  height: 100%;
  width: 100%;
  position: absolute;
}
body .allmap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body .indexTitBox {
  position: absolute;
  z-index: 100;
  width: 30%;
  left: 40%;
  margin: 0 auto;
  color: #f0f0f0;
  font-size: 16px;
  text-align: left;
  padding-top: 40px;
}
body .indexTitBox div:first-child {
  font-size: 16px;
  color: #f0f0f0;
}
body .indexTitBox div:last-child {
  font-size: 66px;
  color: #57ffff;
}
body .indexTitBox div:last-child span {
  margin-left: 20px;
  font-size: 16px;
  color: #f0f0f0;
}
body .boxLeft {
  z-index: 100;
  position: absolute;
  top: 12%;
  left: 2%;
}
body .boxLeft li {
  margin-bottom: 20px;
}
body .boxLeft li .box {
  background: url(../img/subBoxLeft.png) no-repeat;
  width: 359px;
  height: 166px;
}
body .boxLeft li .box .title {
  font-size: 16px;
  color: #0fbbfb;
  height: 40px;
  line-height: 40px;
  width: 40%;
  text-align: center;
  padding-top: 5px;
}
body .boxLeft li .box .con {
  height: 96px;
  margin-top: 30px;
}
body .boxLeft li .box .con table {
  width: 90%;
  margin-left: 5%;
  border: none;
}
body .boxLeft li .box .con table td {
  text-align: center;
}
body .boxLeft li .box .con table td .numberTit {
  font-size: 26px;
  color: #57ffff;
}
body .boxLeft li .box .con table td .numberSubTit {
  font-size: 13px;
  color: #f0f0f0;
}
body .boxRight {
  z-index: 100;
  position: fixed;
  top: 32%;
  right: 2%;
}
body .boxRight li {
  margin-bottom: 20px;
}
body .boxRight li .box {
  background: url(../img/subBoxRight.png) no-repeat;
  width: 390px;
  height: 166px;
}
body .boxRight li .box .title {
  font-size: 16px;
  color: #0fbbfb;
  height: 40px;
  line-height: 40px;
  width: 40%;
  float: right;
  text-align: center;
  padding-top: 5px;
}
body .boxRight li .box .con {
  height: 96px;
  clear: both;
  padding-top: 30px;
}
body .boxRight li .box .con table {
  width: 90%;
  border: none;
  margin: 0 auto;
}
body .boxRight li .box .con table td {
  text-align: center;
}
body .boxRight li .box .con table td .numberTit {
  font-size: 26px;
  color: #57ffff;
}
body .boxRight li .box .con table td .numberSubTit {
  font-size: 13px;
  color: #f0f0f0;
}
